@media only screen and (max-width: 1500px) {
    .logo{
        width: 100px;
        height: 100px;
        position: absolute;
        left: 185px;
    }
    .story{
        left: 185px;
    }
    .inf{
        left: 300px;
    }
    .temp{
        right: 300px;
    }
    .graf{
        right: 100px;
    }
    .opisanie{
        font-size: 11.5px;
    }
}
@media only screen and (max-width: 1200px) {
    .logo{
        width: 100px;
        height: 100px;
        position: absolute;
        left: 85px;
    }
    .inf{
        left: 200px;
    }
    .temp{
        right: 250px;
    }
    .graf{
        right: 70px;
    }
    a{
        font-size: 15px;
    }
    .happy{
        left: 30%;
    }
    .opisanie{
        font-size: 9.6px;
    }
}
@media only screen and (max-width: 992px) {
    .logo{
        width: 100px;
        height: 100px;
        position: absolute;
        left: 35px;
    }
    .inf{
        left: 140px;
        font-size: 13px;
    }
    .temp{
        font-size: 13px;
        right: 180px;
    }
    .graf{
        font-size: 13px;
        right: 30px;
    }
    a{
        font-size: 13px;
    }
    .story{
        left: 12%;
    }
    .happy{
        left: 28%;
    }
    .opisanie{
        font-size: 9px;
    }
}
@media only screen and (max-width: 768px) {
    .logo{
        width: 70px;
        height: 70px;
        position: absolute;
        left: 15px;
    }
    .inf{
        left: 90px;
        font-size: 8.6px;
    }
    .temp{
        font-size: 8.6px;
        right: 100px;
    }
    .graf{
        font-size: 8.6px;;
        right: 2px;
    }
    a{
        font-size: 9px;
    }
    .story{
        left: 12%;
    }
    .happy{
        left: 28%;
    }
    .opisanie{
        font-size: 7.7px;
    }
    #head{
        height: 130px;
    }
    .story, .happy, .sale, .partner, .contact, .special{
        padding-top: 100px;
    }
}
@media only screen and (max-width: 480px) {
    .logo{
        width: 70px;
        height: 70px;
        position: absolute;
        left: 15px;
    }
    .inf{
        padding-top: 10px;
        left: 90px;
        font-size: 6.6px;
    }
    .temp{
        font-size: 6.6px;
        right: 80px;
    }
    .graf{
        font-size: 6.6px;;
        right: 2px;
    }
    a{
        font-size: 6px;
    }
    .story{
        left: 12%;
    }
    .happy{
        left: 28%;
    }
    .opisanie{
        font-size: 5.9px;
    }
    #head{
        height: 130px;
    }
    .story, .happy, .sale, .partner, .contact, .special{
        padding-top: 100px;
    }
}